<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="heading admin-list-item">
            <h1 class="sno">S.no</h1>
            <h1 class="name_">Name</h1>
            <h1 class="email_">Email</h1>
        </div>
        <script src="../js/adminDash.js"></script>
    </body>

</html> -->